@font-face {
  font-family: OswaldR;
  src: url(Oswald-Regular.ttf);
}

@font-face {
font-family: OswaldB;
  src: url(Oswald-Bold.ttf);
}

p {
font-family: OswaldR;
}
h1 {
font-family: OswaldB;
     -webkit-text-stroke: 0.5px black;
}
h2 {
font-family: OswaldR;
}

@keyframes italyColor {
  0% {color: #008C45;}
  50% {color: #F4F9FF;}
  75% {color: #CD212A;}
  100% {color: #008C45;}
}

#TitleAnim {
animation: italyColor 3s infinite;
}

img {
width: 60%;
}

#Flag {
position: absolute;
top: 0px;
right: 0px;
height: 50px;
width: 100px;
  
}

#ImageB {
width: 300px;
height: 200px;
}

marquee {
  margin: 0;      
  display: inline; 
  display: flex;
}

#ImageButton {
width: 250px;
height: 150px;
}
