@font-face {
  font-family: Classyvogueregular;
  src: url(Classyvogueregular.ttf);
}

p {
font-family: Classyvogueregular;
}
h1 {
font-family: Classyvogueregular;
}
h2 {
font-family: Classyvogueregular;
}
